article.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0;
  justify-content: flex-start;
  padding: 0; }

aside.cart_1 {
  background-image: url("../img/cart_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.cart_1 {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.cart_2 {
  background-image: url("../img/cart_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.cart_2 {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.cart_web {
  background-image: url("../img/cart_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.cart_web {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.delivery_web {
  background-image: url("../img/delivery_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.delivery_web {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.item_web {
  background-image: url("../img/item_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.item_web {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.main {
  background-image: url("../img/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.main {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.notification {
  background-image: url("../img/notification.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.notification {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.notification_web {
  background-image: url("../img/notifications_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.notification_web {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.orders_web {
  background-image: url("../img/orders_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.orders_web {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.orders {
  background-image: url("../img/orders.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.orders {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.profile_web {
  background-image: url("../img/profile_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.profile_web {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.sneakers {
  background-image: url("../img/sneakers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.sneakers {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.wishlist_web {
  background-image: url("../img/wishlist_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.wishlist_web {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

aside.wishlist {
  background-image: url("../img/wishlist.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.wishlist {
      min-height: 400px;
      margin: 0;
      padding: 0; } }

/*# sourceMappingURL=imagesandassets.css.map */
