@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");
@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300");
h1, h2 {
  font-family: 'Inter UI', sans-serif;
  color: #3E3535;
  font-weight: 100;
  margin-bottom: 0.2em; }

h1 {
  text-transform: capitalize;
  font-size: 1.5em; }

h2 {
  font-size: 0.8em; }

a, a:visited, a:active {
  color: #0011FF;
  text-decoration: none;
  font-size: 3em;
  font-style: normal;
  font-family: 'Roboto Mono', monospace; }

a.undone {
  text-decoration: line-through; }

a:hover {
  color: #FF3769; }

a.back {
  font-size: 1em;
  color: #0011FF;
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto Mono', monospace; }

body {
  margin: 0 0 0 0;
  background-color: #FAFAFA;
  padding: 0.8em 2em 0.8em 2em; }

content {
  max-width: 1440px; }

header {
  color: #FFF;
  margin: 0em 2em 5em 2em;
  min-height: 120px; }

article.links {
  min-height: 800px;
  margin: 0 1em 2em 0em; }
  article.links ul {
    list-style: none; }

body {
  margin: 0 0 0 0;
  background-color: #FAFAFA;
  padding: 0.8em 2em 0.8em 2em; }

content {
  max-width: 1440px; }

header {
  color: #FFF;
  margin: 0em 2em 5em 2em;
  min-height: 120px; }

article.links {
  min-height: 800px;
  margin: 0 1em 2em 0em; }
  article.links ul {
    list-style: none; }

body.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 0;
  padding: 2em 2em 2em 2em;
  border: 1px solid red; }

header.portfolio {
  display: flex;
  flex-direction: row;
  margin: 1em 1em 1em 1em;
  border: blue solid 1px;
  min-width: 1140px; }

article.portfolio {
  background-image: url(../img/InteractivitySketch-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

section.portfolio {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  border: solid 1px black; }
  section.portfolio aside.portfolio {
    border: solid 1px red;
    height: 100px;
    width: 100px; }

h1, h2 {
  font-family: 'Inter UI', sans-serif;
  color: #3E3535;
  font-weight: 100;
  margin-bottom: 0.2em; }

h1 {
  text-transform: capitalize;
  font-size: 1.5em; }

h2 {
  font-size: 0.8em; }

a, a:visited, a:active {
  color: #0011FF;
  text-decoration: none;
  font-size: 3em;
  font-style: normal;
  font-family: 'Roboto Mono', monospace; }

a.undone {
  text-decoration: line-through; }

a:hover {
  color: #FF3769; }

a.back {
  font-size: 1em;
  color: #0011FF;
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto Mono', monospace; }

article.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0;
  justify-content: flex-start;
  padding: 0;
  align-content: flex-start; }

div.boxes {
  margin: 0;
  padding: 0; }

section.project_details {
  min-height: 200px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid red; }
  section.project_details blockquote {
    border: 1px solid blue;
    max-width: 400px;
    height: 200px;
    font-family: 'Inter UI', sans-serif;
    font-size: 0.8em; }
  @media (max-width: 599px) {
    section.project_details {
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      margin: 0;
      padding: 0; }
      section.project_details blockquote {
        border: 1px solid blue;
        font-family: 'Inter UI', sans-serif;
        font-size: 0.8em; } }
  @media (min-width: 600px) {
    section.project_details {
      margin: 0;
      padding: 0; } }
  @media (min-width: 900px) {
    section.project_details {
      margin: 0;
      padding: 0; } }
  @media (min-width: 1200px) {
    section.project_details {
      margin: 0;
      padding: 0; } }
  section.project_details aside.cart_1 {
    background-image: url("../img/cart_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    min-height: 800px;
    padding: 1em;
    margin: 2em 1em 2em 1em;
    margin: 0;
    padding: 0; }
    @media (max-width: 599px) {
      section.project_details aside.cart_1 {
        margin: 0;
        padding: 0; } }

aside.cart_2 {
  background-image: url("../img/cart_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.cart_2 {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.cart_2 {
      margin: 0;
      padding: 0; } }

aside.cart_web {
  background-image: url("../img/cart_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.cart_web {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.cart_web {
      margin: 0;
      padding: 0; } }

aside.delivery_web {
  background-image: url("../img/delivery_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.delivery_web {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.delivery_web {
      margin: 0;
      padding: 0; } }

aside.item_web {
  background-image: url("../img/item_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.item_web {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.item_web {
      margin: 0;
      padding: 0; } }

aside.main {
  background-image: url("../img/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.main {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.main {
      margin: 0;
      padding: 0; } }

aside.notification {
  background-image: url("../img/notification.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.notification {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.notification {
      margin: 0;
      padding: 0; } }

aside.notification_web {
  background-image: url("../img/notifications_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.notification_web {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.notification_web {
      margin: 0;
      padding: 0; } }

aside.orders_web {
  background-image: url("../img/orders_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.orders_web {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.orders_web {
      margin: 0;
      padding: 0; } }

aside.orders {
  background-image: url("../img/orders.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.orders {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.orders {
      margin: 0;
      padding: 0; } }

aside.profile_web {
  background-image: url("../img/profile_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.profile_web {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.profile_web {
      margin: 0;
      padding: 0; } }

aside.sneakers {
  background-image: url("../img/sneakers.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.sneakers {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.sneakers {
      margin: 0;
      padding: 0; } }

aside.wishlist_web {
  background-image: url("../img/wishlist_web.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.wishlist_web {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.wishlist_web {
      margin: 0;
      padding: 0; } }

aside.wishlist {
  background-image: url("../img/wishlist.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em; }
  @media (max-width: 599px) {
    aside.wishlist {
      margin: 0;
      padding: 0; } }
  @media (min-width: 600px) {
    aside.wishlist {
      margin: 0;
      padding: 0; } }

/*# sourceMappingURL=master.css.map */
