@import "colours";

body {
  margin: 0 0 0 0;
  background-color: $background;
  padding: 1em 2em 1em 2em;}

.content {
  max-width: 1440px;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  border: solid red 1px;
  padding: 0;
}

header{
   width: 100%;
    color: #FFF;
    margin: 0;
    min-height: 120px;
    border: 1px solid red;
    }

article.links{
  min-height: 800px;
  margin: 0 1em 2em 0em;
    ul{
      list-style: none;
    }
}
