@import "colours";

body {
  margin: 0 0 0 0;
  background-color: $background;
  padding: 0.8em 2em 0.8em 2em; }

content {
  max-width: 1440px;
}

header{
    color: #FFF;
    margin: 0em 2em 0em 2em;
    min-height: 120px;
    }

article.links{
  margin: 0 1em 0 0em;
    ul{
      list-style: none;
    }
}
