@import "mixins";
@import 'typography';

article.container{
display: flex;
flex-direction: column;
max-width: 1440px;
margin: 0;
//border: red solid 1px;
justify-content: flex-start;
padding: 0;
align-content: flex-start;
}


aside.dropbox{
  display: flex;
  background-image:url("../img/add_wishlist.png");
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: $link;
  a{
    font-size: 5em;
    font-family: 'Inter UI', sans-serif;
    font-weight: bold;
  }
}

aside.design-brief{
  background-image:url("../img/design_brief.png");
}
aside.competitive-analysis{
  background-image:url("../img/competitive_analysis.png");
}

aside.milya1{
  background-image:url("../img/milya-1.png");
}

aside.milya2{
  background-image:url("../img/milya-2.png");
}


aside.milya1, aside.milya2, aside.vimeo, aside.dropbox, aside.design-brief, aside.competitive-analysis{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em;

  @include for-phone-only{
    margin: 0;
    padding: 2em 1em 2em 1em;
    min-height: 300px;
    }
  @include for-tablet-portait-up{
    margin: 0;
    padding: 2em 1em 2em 1em;
    max-height: 600px;
    }
  @include for-desktop{
    margin: 0;
    padding: 2em 1em 2em 1em;
  }

}
