@import "mixins";
@import 'typography';

article.container{
display: flex;
flex-direction: column;
max-width: 1440px;
margin: 0;
//border: red solid 1px;
justify-content: flex-start;
padding: 0;
align-content: flex-start;
}

aside.purpose,aside.prioritising_solutions,
aside.understanding_users,aside.personas,
aside.crystal_flowchart,aside.david_flowchart{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em;

  @include for-phone-only{
    margin: 0;
    padding: 2em 1em 2em 1em;
    min-height: 300px;
    }
  @include for-tablet-portait-up{
    margin: 0;
    padding: 2em 1em 2em 1em;
    max-height: 600px;
    }
  @include for-desktop{
    margin: 0;
    padding: 2em 1em 2em 1em;
  }
}


aside.purpose{background-image: url("../img/purpose.png");}
aside.prioritising_solutions{background-image: url("../img/prioritising_solutions.png");}
aside.understanding_users{background-image: url("../img/understanding_users.png");}
aside.personas{background-image: url("../img/personas.png");}
aside.crystal_flowchart{background-image: url("../img/crystal_flowchart.png");}
aside.david_flowchart{background-image: url("../img/david_flowchart.png");}
