
@import url("https://rsms.me/inter/inter-ui.css");
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');
@import 'colours';
@import 'mixins';

h1, h2{
    font-family: 'Inter UI', sans-serif;
    color: $dark;
    font-weight: 100;
    margin-bottom: 0.2em;

}
  h1 {
    text-transform: capitalize;
    font-size: 1.5em;
      @include for-phone-only{
        font-size: 0.5em;
      }
    }
  h2 {
    font-size: 0.8em;
    }

  a, a:visited, a:active{
    color: $link;
    text-decoration: none;
    font-size: 3em;
    font-style: normal;
    font-family: 'Roboto Mono', monospace;
    @include for-phone-only{
      border-bottom: 1px solid $link;
      font-size: 2em;
      text-align: center;
      text-indent: 0.5em;
    }

  }

 a.undone{
   text-decoration: line-through;
 }
  a:hover{
    color: $highlight;
  }
a.back{
  font-size:1em;
  color: $link;
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto Mono', monospace;
}
