h1 {
  font-size: 2em;
  margin-bottom: 0.2em}

h1, h2, p, span {
  color: #FFF; }

h2{
    font-size: 0.8em;
  }
p{
    font-size: 1.2em;
    font-weight:300;
    line-height: 1.2em;
  }
li{
    font-size: 0.9em;
    margin: 0.95em 0 0.95em 0;
  }
