@import "mixins";
@import 'typography';

article.container{
display: flex;
flex-direction: column;
max-width: 1440px;
margin: 0;
//border: red solid 1px;
justify-content: flex-start;
padding: 0;
align-content: flex-start;
}

aside.cart_1, aside.cart_2,
aside.cart_web,aside.delivery_web,
aside.item_web,aside.main,aside.notification,
aside.notification_web, aside.orders, aside.orders_web,
aside.profile_web,aside.sneakers,aside.wishlist_web,
aside.wishlist{

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  min-height: 800px;
  padding: 1em;
  margin: 2em 1em 2em 1em;

  @include for-phone-only{
    margin: 0;
    padding: 2em 1em 2em 1em;
    min-height: 300px;
    }
  @include for-tablet-portait-up{
    margin: 0;
    padding: 2em 1em 2em 1em;
    max-height: 600px;
    }
  @include for-desktop{
    margin: 0;
    padding: 2em 1em 2em 1em;
    min-height: 1200px;
  }

}

aside.cart_1{background-image: url("../img/cart_1.png");}
aside.cart_2{background-image: url("../img/cart_2.png");}
aside.cart_web{background-image: url("../img/cart_web.png");}
aside.delivery_web{background-image: url("../img/delivery_web.png");}
aside.item_web{background-image: url("../img/item_web.png");}
aside.main{background-image: url("../img/main.png");}
aside.notification{background-image: url("../img/notification.png");}
aside.notification_web{background-image: url("../img/notification_web.png");}
aside.orders_web{background-image: url("../img/orders_web.png");}
aside.orders{background-image: url("../img/orders.png");}
aside.profile_web{background-image: url("../img/profile_web.png");}
aside.sneakers{background-image: url("../img/sneakers.png");}
aside.wishlist_web{background-image: url("../img/wishlist_web.png");}
aside.wishlist{background-image: url("../img/wishlist.png");}
