$background-blue: #1F1F25;
$type: #fff;
@import url('https://rsms.me/inter/inter-ui.css');

html{
padding: 0.7em 0.7em 0.7em 0.7em;
background-color:$background-blue;
font-family: 'Inter UI', sans-serif;
}
body{
max-width: 1140px;
}

h1,h2,p{
color:$type;
}
